.App-header {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  text-align: center;
  margin: 0;
  font-size: 1.3rem;
}

.Title {
  margin-left: 10px;
  width: 70%;
}
