.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
}

.App-title {
  margin: 0;
  font-size: 1.3rem;
}

.App-intro {
  font-size: large;
}

.Drawer {
  background-color: #ffffff;
}
